body{
    margin:0px;
    background:#0f0f0f;
}
input{
  outline-color: #1b60b2;
}
.container{
    background:#0f0f0f;
    width:100%;
}
.header{
    width:100%;
    height:56px;
}
.start{
    padding-left:0px;
    float:left;
    height:56px;
    width:460px;
}
.menu_toggle{
  margin-left: 20px;
  margin-top:18px;
  padding: 5px 3px;
  width:30px;
  border:.5px transparent;
  border-radius: 50%;
  cursor:pointer;
  float:left;
}
.menu_toggle:hover{
  background-color:#3d3d3d;
  opacity:.5;
}
.ytlogo{
    width: 20%; /* Adjusts image width to container */
    height: auto; /* Maintains aspect ratio */
    display:block; /* Removes default margin */
    padding-left:30px;
    padding-top:25px;
    float:left;
}
.center{
    margin: 0 auto;
    float:left;
    height:56px;
    text-align:center;
    align-items:center;
}
.search{
  margin-top:9px;
  padding-left:20px;
  border-radius: 30px;
  height:35px;
  width:500px;
  border:#333333 solid 1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size:18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:lighter;
  opacity:.6px;
  color:#eeeeee;
  background-color:#121212;
  float:left;
}
.search:hover{
  border-color:#333333;
}
.searchbutton{
  border-radius:30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border:#333333 solid 1px;
  background-color:#323131;
  padding-left: 15px;
  padding-right:15px;
  padding-top: 3px;
  margin-top:8px;
  display:block;
  cursor: pointer;
  float: left;
}
.searchbutton:hover{
  opacity: 0.5;
}
.voicesearch{
  border-radius:50%;
  border:#323131 thin;
  display:block;
  margin-top:8px;
  margin-left:18px;
  padding-left: 5px;
  padding-top: 4px;
  background:#323131;
  cursor: pointer;
  float: left;
}
.voicesearch:hover{
  opacity:1.3;
  background-color:#3d3d3d;
}
.end{
  margin: 0 auto;
  float:inline-end;
  height:56px;
  text-align:end;
}
.create-icon{
  border:0.5px transparent;
  border-radius: 50%;
  display:block;
  margin-top:8px;
  margin-left:10px;
  padding-left: 5px;
  padding-top: 6px;
  background:transparent;
  cursor: pointer;
  float: left;
}
.create-icon:hover{
  opacity:1.3;
  border-radius:50%;
  border:#323131 0.5px thin;
  background-color:#323131;
  padding-left:7px;
  padding-bottom:3px;
}
.bell-icon{
  border:0.5px transparent;
  border-radius: 50%;
  display:block;
  margin-top:8px;
  margin-left:10px;
  padding-left: 7px;
  padding-top: 6px;
  background:transparent;
  cursor: pointer;
  float: left;
}
.bell-icon:hover{
  opacity:1.3;
  border-radius:50%;
  border:#323131 0.5px thin;
  background-color:#323131;
  padding-left:7px;
  padding-bottom:3px;
}
.dp{
  border:none;
  border-radius: 50%;
  display:block;
  margin-top:8px;
  margin-left:3px;
  margin-right: 30px;
  padding-left: 8px;
  background:transparent;
  cursor: pointer;
  float: left;
}
#menu{
  width:240px;
  height: 100vh;
  padding-left: 13px;
  padding-top: 13px;
  float:left;
  display:flex;
  flex-direction: column;
  overflow: hidden;
}
#menu:hover{
  overflow-y:auto;
}
#menu::-webkit-scrollbar{
  width:7px;
}
#menu::-webkit-scrollbar-track{
  background-color: transparent;
}
#menu::-webkit-scrollbar-thumb{
  background-color: #717171;
}
#menu::-webkit-scrollbar-button{
  background-position: center;
  background-size:cover ;
  height:5px;
  display:block;
}
#menu::-webkit-scrollbar-button:vertical:start:increment{
  background-image:url(up_icon.png);
}
#menu::-webkit-scrollbar-button:vertical:end:increment{
  background-image:url(down_icon.png);
}
.menu-buttons{
  width:204px;
  height:40px;
  margin-bottom:auto;
  flex:1;
}
.menu-buttons_sub{
  width:204px;
  height:40px;
  background-color:#0f0f0f;
  border:.5px transparent;
  border-radius: 8px;
  text-align: left;
  float:below;
  cursor:pointer;
}
.menu-buttons_sub:hover{
  background-color:#272727;
}
.menu-buttons_sub_head{
  width:204px;
  height:40px;
  background-color:#0f0f0f;
  border:.5px transparent;
  border-radius: 8px;
  text-align: left;
  float:below;
  cursor:pointer;
}
.menu-buttons_sub_head:hover{
  background-color:#272727;
}
.menu_label{
  padding-left:30px;
  color: #eeeeee;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  vertical-align:super;
  text-align: left;
  cursor:pointer;
}
hr{
  height:.09px;
  width:220px;
  float:left;
  margin-left:5px;
  opacity: .3;
}
.menu_headings{
  width:204px;
  height:40px;
  background-color:#0f0f0f;
  text-align: left;
  border:.5px transparent;
  border-radius: 8px;
  color:#fff;
  font-size:17px;
  font-family: Arial, Helvetica, sans-serif;
  float:below;
}
.menu-buttons_sub_head .menu_headings{
  width:204px;
  height:40px;
  background-color:transparent;
  text-align: left;
  border:.5px transparent;
  border-radius: 8px;
  color:#fff;
  font-size:17px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 8px;
  float:below;
}
.channels_icon{
  border:.5px transparent;
  border-radius:50%;
}
.main-body{
  margin-left:260px;
  margin-top:13px;
}
.categories{
  display:flex;
  width:100%;
  overflow-x:auto;
  border-radius:4px;
  /*gap:2px;*/
}
.categories::-webkit-scrollbar{
  display:none;
}
.category-button{
  width:auto;
  flex:1;
  height:30px;
  border:.5px transparent;
  border-radius: 8px;
  background-color: #323131;
  color:#eeeeee;
  font-size:15px;
  font-weight: 500;
  padding-left:10px;
  padding-top:5px;
  padding-right:10px;
  display:block;
  cursor: pointer;
  margin-left:auto;
  margin-right:12px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.category-button .active{
  background-color: #fff;
  color:#000;
}
.left,
.right{
  width:24px;
  height:24px;
  padding:8px;
  cursor:pointer;
  color:#fff;
}
.arrows.right,
.arrows.left{
  position:absolute;
  height:100%;
  width:100px;
  top: 1px;
  display:flex;
  align-items:center;
  padding: 0px 10px;
}
.categories.arrows.right{
  right:0;
  justify-content: flex-end;
}
.categories.arrows.left{
  left:0;
  justify-content: flex-start;
}
.category-button:hover{
  background-color: #3d3d3d;
}
.videos{
  width:100%;
  margin-top:20px;
}
.VidSpace{
  width:400px;
  height:330px;
  padding-right: 19px;
  float:left;
}
.vid_frame{
  width:400px;
  height:220px;
  border-radius: 12px;
  float:left;
  display: block;
  margin:0 auto; /* Center the video */
  position:relative;
  overflow:hidden;
  display:flex;
  justify-content: flex-end;
  flex-direction: column;
}
.time{
  position:absolute;
  background-color: #000;
  opacity:.8;
  /*top:194px;
  left:345px;*/
  color:white;
  border:.5px transparent;
  border-radius: 5px;
  font-size:15px;
  padding:1px 5px;
  margin-right:5px;
  margin-bottom: 5px;
  align-self: flex-end;
}
.vid-channels_logo{
  border:none;
  border-radius: 50%;
  display:block;
  margin-top:7px;
  background:transparent;
  cursor: pointer;
  float: left;
}
.vid_title{
  color:#eeeeee;
  font-size:18px;
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  margin-top:235px;
  margin-left:60px;
}
.channel_name{
  color:#818181;
  font-size:14px;
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  margin-top:3px;
}
.footer{
  padding-left: 15px;
}
.footer_labels{
  cursor:pointer;
  font-size: 13px;
  font-weight: 525;
  font-family: Arial, Helvetica, sans-serif;
  color:#aaaaaa;
  margin-right:10px;
  background:transparent;
  white-space:nowrap;
}
.footer_labels_google{
  cursor:pointer;
  font-size: 11px;
  font-weight: 525;
  font-family: Arial, Helvetica, sans-serif;
  color:#717171;
  margin-right:10px;
  background:transparent;
  white-space:nowrap;
}